nav {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.container{
    padding-top: 30px;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #dbd9d9;
}

.section1{
    background: linear-gradient(135deg, #0048ff, #5d13ad,#d609ff);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.section2{
    display: flex;
    border: 2px solid #000000;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.section3{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);


}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 0px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: rgb(32, 32, 144);
    cursor: pointer;
    border-radius: 15px;
}

/* second page */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.profile-picture img {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    margin-bottom: 10px;
}

.info h2 {
    font-size: 34px;
    margin: 0;
}

.info p {
    font-size: 26px;
    color: #666;
    margin: 10px 0;
}

.instagram-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e4405f; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.instagram-button:hover {
    background-color: #ba2744; 
}

